<div id="map"></div>

<div class="layer-control">
  <h3>Layers</h3>
  <div class="layer-item">
    <label>
      <input 
        type="checkbox" 
        [checked]="regionsVisible" 
        (change)="toggleRegions()"
      />
      Regions
    </label>
  </div>
  <div class="layer-item">
    <label>
      <input 
        type="checkbox" 
        [checked]="pointsVisible" 
        (change)="togglePoints()"
      />
      Points of Interest
    </label>
  </div>
</div>

<div class="table-control">
  <h3>Points Table</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Coords</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let point of pointsTable"
        [class.selected]="selectedPointId() === point.id"
        (click)="focusPoint(point.id)"
      >
        <td>{{ point.name }}</td>
        <td>{{ point.type }}</td>
        <td>{{ point.lat.toFixed(1) }}, {{ point.lon.toFixed(1) }}</td>
      </tr>
    </tbody>
  </table>
</div>
